
<div class="wrapper">
  <div class="main">
    <h1>Book an appointment</h1>
    <div class="cards">
      <div class="service-result-card">
       <div class="service-result-card-image">
          <img src="https://res.cloudinary.com/p-m-b/image/upload/v1581469552/canaduh/sophie-advisor_ygklbz.jpg">
       </div>
        <div class="service-result-card-info">
          <div class="service-result-card-row">
            <p class="service-result-card-feature-badge">FEATURED</p>
            <p class="service-result-card-path">Specific path</p>
          </div>
          <div class="service-result-card-row">
            <h2><%= @service.service_type.upcase %></h2>
          </div>
          <div class="service-result-card-row">
            <p><%= @service.description %></p>
          </div>
          <div class="service-result-card-price">
            <p>$<%= @service.price %> CAD/hour</p>
          </div>
        </div>
      </div>
    </div>
    <div class="service-booking-details-row">
      <div class="service-booking-advisor-info">
        <p>First Name: <%= @service.user.first_name %></p>
          <p>Last Name: <%= @service.user.last_name %></p>
        </div>
      <div class="booking-calendar-container">
        <div class="form-wrapper">
          <!-- BYPASSED IF STATEMENT FOR STYLING -->
          <!-- < if current_user.user_type == "user" > -->
            <h2>Schedule an appointment with <%= @service.user.first_name %> <%= @service.user.last_name %> </h2>
            <%= simple_form_for [@service, @appointment] do |f| %>
              <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.button :submit, "Go", class: "btn btn-primary" %>
            <!-- < end > -->
          <% end %>
        </div>
      </div>
    </div>
<%= link_to "Back to list of all services ", services_path %>
  </div>
</div>
