show.html.erb
<h1> <%= @service.service_type %> </h1>
<p> Service Type:  <%=@service.service_type %> </p>
<p> Service Description:  <%=@service.description %> </p>

<p> Service provided by <%= @service.user.first_name %> <%= @service.user.last_name %> </p>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <% if current_user.user_type == "user" %>
    <h2>Schedule an appointment with <%= @service.user.first_name %> <%= @service.user.last_name %> </h2>
      <%= simple_form_for [@service, @appointment] do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Back to list of all services ", services_path %>
