<h1><%= @user.name %></h1>

<% @users.each do |user| %>
  <p class="description"><%= user.description %> of <%= user.name %>
  <%= link_to 'pages#profile', user_path(user), method: :delete  %>
   </p>
<% end %>

<%= link_to 'pages#profile', new_user_path(@user) %>


<!-- render form -->
