<div class="container">

  <h1>Welcome <strong><%= @first_name %></strong></h1>

  <pre><%= link_to "Edit Profile", edit_user_registration_path %></pre>

  <p>First Name: <%= @first_name %></p>
  <p>Last Name: <%= @last_name %></p>
  <p>Username: <%= @username %></p>
  <p>Email: <%= @email%></p>
  <p>Location: <%= @location%></p>
  <p>Bio: <%= @bio %></p>
  <% if @user_type == "advisor" %>
    <p>Specialty: <%= @specialty %></p>
  <% end %>
</div>

